@import "../utils/mixins.scss";

h1 {
  text-align: center;
  font-size: 2.5em;
  margin: 1em auto;
}
#videos {
  display: flex;
  flex-wrap: wrap;
  .video {
    width: 30%;
    margin: 0 auto 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(m) {
      width: 43%;
    }
    @include breakpoint(xxs, xs, s) {
      width: 95%;
    }

    h3 {
      text-align: center;
      height: 3em;
    }
    iframe {
      width: 95%;
      height: 15em;
    }
    p {
      width: 90%;
      text-align: justify;
    }
  }
}
